.cult-sheet {
  .cult-section {
    border-bottom: solid 1px rgb(192, 192, 192);
    padding: 15px 5px;
    flex: 0;
    display: flex;
    flex-direction: column;
  }
  .cult-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cult-core-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
